composite-pattern/build
composite-pattern/node_modules/
composite-pattern/package-lock.json
composite-pattern/package.json

SOLID/single-responsibilty/node_modules/
SOLID/single-responsibilty/package-lock.json
SOLID/single-responsibilty/package.json

strategy-pattern/build/
strategy-pattern/node_modules/
strategy-pattern/package-lock.json
strategy-pattern/package.json

observer-pattern/build/
observer-pattern/node_modules/
observer-pattern/package-lock.json
observer-pattern/package.json

decorator-pattern/build/
decorator-pattern/node_modules/
decorator-pattern/package-lock.json
decorator-pattern/package.json

package-lock.json
build/
node_modules/
